html {
  font-size: 12px;
}

@media screen and (min-width: 1px) and (max-width: 359px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 451px) and (max-width: 599px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1090px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 1090px) and (max-width: 1209px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 1210px) and (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1400px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1500px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1800px) and (max-width: 11930px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Myriad Pro','Courier New', Courier, monospace;
  color: #6d6464;
  background-color: #f7f5f5;
}

a {
  text-decoration: none;
}

.navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 4.44444rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d7d8db;
}

.navigation__logo {
  height: 3.55556rem;
}

.navigation__link {
  text-transform: capitalize;
  text-decoration: none;
  color: #6d6464;
  font-size: 1.28rem;
}

.navigation__link:hover {
  text-decoration: none;
}

.navigation__burger {
  display: block;
  position: relative;
  width: 34px;
  height: 26.5px;
  z-index: 20;
}

.navigation__burger span {
  position: absolute;
  left: 0;
  top: 11.34px;
  width: 34px;
  height: 4px;
  background-color: #6B95FF;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navigation__burger::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 4px;
  background-color: #6B95FF;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navigation__burger::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 34px;
  height: 4px;
  background-color: #6B95FF;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navigation__burger.burger-active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navigation__burger.burger-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}

.navigation__burger.burger-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 11px;
}

.navigation__btn {
  color: white;
  background-color: transparent;
  outline: none;
  border-width: 0px;
  text-transform: capitalize;
  text-decoration: none;
  margin: 1rem 0rem;
  padding: 0rem;
  font-size: 1.28rem;
  margin-left: 5rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navigation__container-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.navigation__container-unactive {
  display: none;
}

.navigation__title {
  margin: 0rem;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1rem 0rem;
  margin-left: 5rem;
}

.clicked-link {
  color: #253f78;
}

.link-add {
  display: none;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

.act {
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  .link-add {
    display: inline;
  }
  .link-delete {
    display: none;
  }
  .navigation {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #253f78;
  }
  .navigation__logo {
    margin-left: 5rem;
    height: 3.55556rem;
    margin-top: 10px;
  }
  .navigation__link {
    margin: 1.11111rem 0rem;
    margin-left: 5rem;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 1.28rem;
  }
  .navigation__burger {
    display: none;
  }
}
