$rf: 18;

body {
    margin: 0px;
    padding: 0px;
	font-size: 1rem;
	font-weight: 400;
	font-family:'Myriad Pro','Courier New', Courier, monospace;
	color: #6d6464;
	background-color: #f7f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #f7f5f5;
	height: 75/$rf*1rem;
}
.contacts {
	margin-left: 0.64*40/$rf*1rem;
    display: flex;
    flex-direction: row;
}
.tel {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 0.64*65/$rf*1rem;
		&__img {
            width: 1rem;
            height: auto;
			margin-right: 10/$rf*1rem;
		}

		&__number {
            font-size: 1rem;
            font-weight: 400;
            font-family:'Myriad Pro','Courier New', Courier, monospace;
            color: #6d6464;
		}
}
.mail {

	display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 15/$rf*1rem;
		&__img {
            width: 1rem;
            height: auto;
			margin-right: 10/$rf*1rem;
		}

		&__number {
            font-size: 1rem;
            font-weight: 400;
            font-family:'Myriad Pro','Courier New', Courier, monospace;
            color: #6d6464;
		}

}

.bnt-link {
	width: auto;
    height: 0.64*76/$rf*1rem;	
    background-color: #253f78;
	border-color: transparent;
	border-width: 0px;
    color: white;
	padding: 0rem 0.64*64/$rf*1rem;
	margin-right: 0.64*40/$rf*1rem;
	font-size: 	23/$rf*1rem;
	text-transform: uppercase;
}

.account-link {
	outline: none;
    text-decoration: none;

}

.navigation {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 0.64*125/$rf*1rem;
	align-items: center;
	background-color: #d7d8db;
		&__logo {
			height: 0.64*100/$rf*1rem;
		}

		&__link {
			text-transform: capitalize;
			text-decoration: none;
			color: #6d6464;
			font-size: 0.64*36/$rf*1rem;
		}
}
.clicked {
	color: #253f78;
}
.content-intro {
	display: grid;
	grid-template-columns: 0.64*1770/$rf*1rem 1fr;
	height: 0.64*670/$rf*1rem;
}
.intro-img {
	width: 0.64*1770/$rf*1rem;
	background-image: url("./../../img/doc-pen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.intro-offer {
	background-color: #253f78;
	color: #fff;
	padding: 0.64*106/$rf*1rem;
	
		&__title {
			font-size: 0.64*48/$rf*1rem;
			font-weight: bold;
		}

		&__subtitle {
			font-size: 0.64*36/$rf*1rem;
		}

		&__btn {
			height: 0.64*100/$rf*1rem;
			width: 0.64*430/$rf*1rem;
			
			outline: none;
			background-color: white;
			border-width: 0px;
			
		}
		&__btn-text{
			font-size: 0.64*36/$rf;
			font-weight: bold;
			color:#253f78;
		}
}




.slider {

		&__container {	
      		margin: 0 auto;
		}

		&__wrapper {
			overflow: hidden;
		}


		&__item {
			flex: 0 0 100%;
			max-width: 100%;
      		height: 0.64*666/$rf*1rem;
      		display: flex;
      		justify-content: center;
      		align-items: center;
      		color: rgba(255, 255, 255, 0.8);
      		font-size: 7rem;
		}
		&__item:nth-child(1) {
      		background-color: #f44336;
		}
		&__item:nth-child(2) {
      		background-color: rgb(49, 31, 59);
		}
		&__item:nth-child(3) {
      		background-color: #724c913b;
		}
		&__item:nth-child(4) {
      		background-color: #36f456;
		}
		&__item:nth-child(5) {
      		background-color: #000000;
		}
		&__control {
			background-color: transparent;
		}
}

.content-main {
	margin: 0rem 0.64*160/$rf*1rem;
	margin-top: 0.64*90/$rf*1rem;
	display: grid;
	grid-template-columns: 1fr 3px 0.64*700/$rf*1rem;
	grid-gap: 0.64*100/$rf*1rem;
}
.content-group {

		&__title {
			margin:  0rem 0rem 0.64*50/$rf*1rem 0rem;
			font-weight: bold;
			font-size: 0.64*40/$rf*1rem;
			color:#253f78;
		}
}
.news {
	
		&__title {
			margin: 0rem;
			margin-bottom: 0.64*50/$rf*1rem;
			text-transform: uppercase	;
			font-weight: bold;
			font-size: 0.64*56/$rf*1rem;
			color:#253f78;
		}
}
.blocks {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.64*60/$rf*1rem;
}
.block {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 0.64*595/$rf*1rem;
	border-width: 1px;
	border-style: solid;
	border-color: #dfdce6;
	border-width: 1px;
		&__img {
			height: 0.64*350/$rf*1rem;	
		}

		&__data {
			margin:  0.64*40/$rf*1rem   0rem  0.64*40/$rf*1rem 0.64*200/$rf*1rem;
			font-size: 0.64*22/$rf*1rem;
			color: #253f78;
		}

		&__title {
			margin: 0rem;
			margin-left: 0.64*40/$rf*1rem;
			color: #253f78;
			font-weight: bold;
			font-size: 0.64*26/$rf*1rem;
		}

		&__subtitle {
			margin-left: 0.64*40/$rf*1rem;
			font-weight: normal;
			font-size: 0.64*30/$rf*1rem;
		}
}
.video {

		&__title {
			font-weight: bold;
			font-size: 0.64*56/$rf*1rem;
			color:#253f78;
		}

		&__iframe {
			width: 82%;
			height: 0.64*700/$rf*1rem;
		}
}
.articles {

		&__title {
			font-weight: bold;
			font-size: 0.64*56/$rf*1rem;
			color:#253f78;
		}
}
.partners-video {
	&__text{
		margin: 0rem;
		
		font-weight: bold;
		font-size: 0.64*51/$rf*1rem;
		color:#253f78;
	}
}
.partner-video {

		&__title {
			text-align: right;
			margin:0rem;
			font-weight: bold;
			font-size: 0.64*90/$rf*1rem;
			color:#253f78;
			margin-top: 0.64*75/$rf*1rem;
			margin-bottom: 0.64*25/$rf*1rem;
		}

		&__iframe {
			max-width: 600/$rf*1rem;
			width: 100%;
			height: 0.64*385/$rf*1rem;
		}
}
.partners-text {
}
.line {
	width: 3px;
	height: auto;
	background-color: #253f78;
}
.footer{
	width: 100%;
	background-color: #253f78;
	margin-top: 100/$rf*1rem;
	height: 0.64*175/$rf*1rem;
}