$rf: 18;

body {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #f7f5f5;
}
.contacts {
    display: flex;
    flex-direction: row;
}
.tel {
    display: flex;
    align-items: center;
    justify-content: center;
		&__img {
            width: 2rem;
            height: 2rem;
		}

		&__number {
            font-size: 1rem;
            font-weight: 400;
            font-family:'Myriad Pro','Courier New', Courier, monospace;
            color: #6d6464;
		}
}
.mail {
    display: flex;
        display: flex;
    align-items: center;
    justify-content: center;
		&__img {
            width: 2rem;
            height: 2rem;
		}

		&__number {
            font-size: 1rem;
            font-weight: 400;
            font-family:'Myriad Pro','Courier New', Courier, monospace;
            color: #6d6464;
		}

}
.account-link {
    width: 420/$rf*1rem;
    height: 76/$rf*1rem;
    background-color: #253f78;
    text-decoration: none;
    color: white;
}
.navigation {
}
.logo {
}
.nav {

		&__link {
		}
}
.clicked {
}
.content {
}
.slider {

		&__container {
		}

		&__wrapper {
		}

		&__items {
		}

		&__item {
		}

		&__control {
		}
}
.content-main {
}
.content-group {

		&__title {
		}
}
.news {

		&__title {
		}
}
.blocks {
}
.block {

		&__img {
		}

		&__data {
		}

		&__title {
		}

		&__subtitle {
		}
}
.video {

		&__title {
		}

		&__iframe {
		}
}
.articles {

		&__title {
		}
}
.partners-video {
}
.partner-video {

		&__title {
		}

		&__iframe {
		}
}
.partners-text {
}
