$rf: 18;
html {
    font-size: 12px;
    @media screen and (min-width: 1px) and (max-width: 359px) {
        font-size: 9px;
    }   
    @media screen and (min-width: 360px) and (max-width: 450px) {
        font-size: 12px;
    }
    @media screen and (min-width: 451px) and (max-width: 599px) {
        font-size: 14px;
    }
    @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1090px) {
        font-size: 9px;
    }
	@media screen and (min-width: 1090px) and (max-width: 1209px) {
        font-size: 10px;
    }
    @media screen and (min-width: 1210px) and (max-width: 1300px) {
        font-size: 11px;
    }
    @media screen and (min-width: 1301px) and (max-width: 1400px) {
        font-size: 12px;
    }
	@media screen and (min-width: 1401px) and (max-width: 1500px) {
        font-size: 12px;

    }
    @media screen and (min-width: 1501px) and (max-width: 1600px) {
        font-size: 13px;

    }
    @media screen and (min-width: 1601px) and (max-width: 1700px)  {
        font-size: 14px;

    }
    @media screen and (min-width: 1700px) and (max-width: 1800px) {
        font-size: 15px;
    }
    @media screen and (min-width: 1800px) and (max-width: 11930px) {
        font-size: 16px;
    }
}

body {
    margin: 0px;
    padding: 0px;
	font-size: 1rem;
	font-weight: 400;
	font-family:'Myriad Pro','Courier New', Courier, monospace;
	color: #6d6464;
	background-color: #f7f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #f7f5f5;
	height: 75/$rf*1rem;
}
.contacts {
	margin-left: 0.64*40/$rf*1rem;
    display: flex;
    flex-direction: row;
}
.tel {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 0.64*65/$rf*1rem;
		&__img {
            width: 1rem;
            height: auto;
			margin-right: 10/$rf*1rem;
		}

		&__number {
            font-size: 1rem;
            font-weight: 400;
            font-family:'Myriad Pro','Courier New', Courier, monospace;
            color: #6d6464;
		}
}
.mail {

	display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 15/$rf*1rem;
		&__img {
            width: 1rem;
            height: auto;
			margin-right: 10/$rf*1rem;
		}

		&__number {
            font-size: 1rem;
            font-weight: 400;
            font-family:'Myriad Pro','Courier New', Courier, monospace;
            color: #6d6464;
		}

}

.bnt-link {
	width: auto;
    height: 0.64*76/$rf*1rem;	
    background-color: #253f78;
	border-color: transparent;
	border-width: 0px;
    color: white;
	padding: 0rem 0.64*64/$rf*1rem;
	margin-right: 0.64*40/$rf*1rem;
	font-size: 	23/$rf*1rem;
	text-transform: uppercase;
}

.account-link {
	outline: none;
    text-decoration: none;

}

.navigation {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 0.64*125/$rf*1rem;
	align-items: center;
	background-color: #d7d8db;
		&__logo {
			height: 0.64*100/$rf*1rem;
		}

		&__link {
			text-transform: capitalize;
			text-decoration: none;
			color: #6d6464;
			font-size: 0.64*36/$rf*1rem;
		}
}
.clicked-link {
	color: #253f78;
}
.content-intro {
	display: grid;
	grid-template-columns: 65% 1fr;
	height: 0.64*670/$rf*1rem;
	width: 100%;
}
.intro-img {
	width: 100%;
	background-image: url("./../../img/doc-pen.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.intro-offer {
	position: relative;
	background-color: #253f78;
	color: #fff;
	padding: 0.64*106/$rf*1rem;
	
		&__title {
			margin: 0rem;
			font-size: 0.64*48/$rf*1rem;
			font-weight: bold;
		}

		&__subtitle {

			margin: 0rem;
			margin-top: 15/$rf*1rem;
			font-size: 0.64*36/$rf*1rem;
		}

		&__btn {
			
			position: absolute;
			bottom: 0.64*106/$rf*1rem;
			height: 0.64*100/$rf*1rem;
			width: 0.64*430/$rf*1rem;
			outline: none;
			background-color: white;
			border-width: 0px;
			
		}
		&__btn-text{
			margin: 0rem;
			font-size: 0.64*36/$rf;
			font-weight: bold;
			color:#253f78;
		}
}

.answer-img{
	background-image: url("./../../img/slider1.png");
}
.journal-img {
	background-image: url("./../../img/Mask-Group.png");
}
.web-cycle{
	background-image: url("./../../img/web-cycle.png");
}
.slider {
	width: 100%;
	height: 0.64*670/$rf*1rem;
		&__container {
			height: 0.64*670/$rf*1rem;
			width: 100%;	
      		margin: 0 auto;
		}

		&__wrapper {
			height: 0.64*670/$rf*1rem;
			width: 100%;
			overflow: hidden;
		}


		&__item {
			flex: 0 0 100%;
			width: 100%;
      		height: 0.64*670/$rf*1rem;
      		display: flex;
      		justify-content: center;
      		align-items: center;
      		color: rgba(255, 255, 255, 0.8);
      		font-size: 7rem;
		}
		
		
		
}
.slider-container {
	width: 100%;
	height: 0.64*670/$rf*1rem;
}

.content-main {
	margin: 0rem 0.64*160/$rf*1rem;
	margin-top: 0.64*90/$rf*1rem;

	display: grid;
	grid-template-columns: 1fr 3px 0.64*700/$rf*1rem;
	grid-gap: 0.64*100/$rf*1rem;
	max-width: 1100px;
	
}
.content-group {

		&__title {
			margin:  0rem 0rem 0.64*50/$rf*1rem 0rem;
			font-weight: bold;
			font-size: 0.64*40/$rf*1rem;
			color:#253f78;
		}
}
.news {
	
		&__title {
			margin: 0rem;
			margin-bottom: 0.64*50/$rf*1rem;
			text-transform: uppercase	;
			font-weight: bold;
			font-size: 0.64*56/$rf*1rem;
			color:#253f78;
		}
}
.blocks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	
	gap: 0.64*60/$rf*1rem;
	width: auto;
}
.block {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 0.64*595/$rf*1rem;
	border-width: 1px;
	border-style: solid;
	border-color: #dfdce6;
	border-width: 1px;
		&__img {
			height: 0.64*350/$rf*1rem;	
		}

		&__data {
			margin:  0.64*40/$rf*1rem   0rem  0.64*40/$rf*1rem 0.64*200/$rf*1rem;
			font-size: 0.64*22/$rf*1rem;
			color: #253f78;
		}

		&__title {
			margin: 0rem;
			margin-left: 0.64*40/$rf*1rem;
			color: #253f78;
			font-weight: bold;
			font-size: 0.64*26/$rf*1rem;
		}

		&__subtitle {
			margin-left: 0.64*40/$rf*1rem;
			font-weight: normal;
			font-size: 0.64*30/$rf*1rem;
		}
}
.video {
		margin-top: 0.64*100/$rf*1rem;
		&__title {
			font-weight: bold;
			font-size: 0.64*56/$rf*1rem;
			color:#253f78;
		}

		&__iframe {

			flex: 0 0 80%;

			width: 100%;
			height: 0.64*700/$rf*1rem;
		}
}
.articles {
		margin-top: 0.64*100/$rf*1rem;
		margin-bottom: 0.64*150/$rf*1rem;
		&__title {

			font-weight: bold;
			font-size: 0.64*56/$rf*1rem;
			color:#253f78;
		}
}
.partners-video {
	&__text{
		margin: 0rem;
		
		font-weight: bold;
		font-size: 0.64*51/$rf*1rem;
		color:#253f78;
	}
}
.partner-video {

		&__title {
			text-align: right;
			margin:0rem;
			font-weight: bold;
			font-size: 0.64*90/$rf*1rem;
			color:#253f78;
			margin-top: 0.64*75/$rf*1rem;
			margin-bottom: 0.64*25/$rf*1rem;
		}

		&__iframe {
			max-width: 600/$rf*1rem;
			width: 100%;
			height: 0.64*385/$rf*1rem;
		}
}
.microsan {
	color: #0061f3;
}
.eisai {
	color: #4b1155;
}
.sanofi{
	color: #253f78;
}
.bristol {
	font-size: 0.64*70/$rf*1rem;
	color: #b41fc1;
}
.msk{
	color: #587c3d;
}
.merck{
	color: #2dbfce;
}
.partners-text {
}
.line {
	display: inline;
	width: 1px;
	height: auto;
	background-color: #253f78;
}
.footer{
	width: 100%;
	background-color: #253f78;
	
	height: 0.64*175/$rf*1rem;
}
.group-left{
	max-width: 0.64*1920/$rf*1rem;
}
.catalog {
	
	margin: 0rem;
	margin-top: 0.64*150/$rf*1rem;
		
	position: relative;
	display: grid;
	grid-template-columns: 65% 1fr;
	height: 0.64*780/$rf*1rem;
	width: 100%;
		&__img {
			height: 0.64*780/$rf*1rem;
			width: 100%;
		}
	background-color: #dae6e8;
}
.catalog-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
.info-nav {
	display: flex;
	flex-direction: column;
	margin-right: 0.64*70/$rf*1rem;
	height: 86%;
		&__btn {
			position: relative;
			background-color: transparent;
			border-width: 0px;
			margin: 0rem;
			padding: 0rem;
			margin: 0.64*25/$rf*1rem 0rem;
			width: 0.64*400/$rf*1rem;
			height: 0.64*30/$rf*1rem;
			z-index: 2;
			outline: none;
		}
		&__btn p{
			margin: 0rem;
			padding: 0rem;
			font-size: 0.64*30/$rf*1rem;
			font-weight: bold;
			color: #253f78;
		}
		&__btn:hover p {
			font-size: 0.64*40/$rf*1rem;
			  transition-timing-function: ease;

  			transition: 0.3s;
		}
		&__btn:hover::after{
			content: '';
			position: absolute;
			right: -45/$rf*1rem;
			bottom: 4/$rf*1rem;	
			width: 0;
			height: 0;
			border-top:  0.64*7/$rf*1rem solid transparent;
			border-right:  0.64*14/$rf*1rem solid #253f78;
			border-bottom:  0.64*7/$rf*1rem solid transparent;
  			transition: 0.3s;
			transition-timing-function: ease;
		}
		
}
.clicked {
	p{ font-size: 0.64*40/$rf*1rem;}
	
}
.clicked::after{
			content: '';
			position: absolute;
			right: -45/$rf*1rem;
			bottom: 4/$rf*1rem;	
			width: 0;
			height: 0;
			border-top:  0.64*7/$rf*1rem solid transparent;
			border-right:  0.64*14/$rf*1rem solid #253f78;
			border-bottom:  0.64*7/$rf*1rem solid transparent;
  			transition: 0.3s;
			transition-timing-function: ease;
}
.info-line {
	width: 1px;
	height: 86%;
	background-color: #253f78;
}
.info-objects {
	height: 86%;
	width: 500px;

}
.info-object {
	margin: 0rem;
	margin-left: 0.64*70/$rf*1rem;
	display: flex;
	flex-direction: column;
		&__title {
			margin: 0rem;
			font-size: 0.64*40/$rf*1rem;
			font-weight: bold;
			color: #253f78;
			margin: 0.64*20/$rf*1rem 0rem;
		}

		&__link {
			position: relative;
			text-decoration: none;
			font-size: 0.64*40/$rf*1rem;
			margin: 0.64*20/$rf*1rem 0rem;
			color: #253f78;
			width: 0.64*500/$rf*1rem;
			height: 0.64*70/$rf*1rem;
		}
		&__link:hover {
			color: #00887c;
			font-size: 0.64*55/$rf*1rem;
			transition-timing-function: ease;
  			transition: 0.3s;
		}
		&__link:hover::before{
			content: '';
			position: absolute;
			right: 357/$rf*1rem;
			bottom: 20/$rf*1rem;	
			width: 0;
			height: 0;
			border-top:  0.64*7/$rf*1rem solid transparent;
			border-left:  0.64*14/$rf*1rem solid #253f78;
			border-bottom:  0.64*7/$rf*1rem solid transparent;
  			transition: 0.3s;
			transition-timing-function: ease;
		}
		
}

.about-partners{
		display: inline;
}
 @media screen and (min-width: 1023px) and (max-width: 1350px) {
	.group-left{
		max-width: 0.84*1920/$rf*1rem;
	}
}
@media screen and (min-width: 1px) and (max-width: 980px) {
	
	.about-partners{
		display: none;
	}
	.line {
		display: none;
	}
	.content-main {
		margin: 0rem 0.64*160/$rf*1rem;
		margin-top: 0.64*90/$rf*1rem;
		display: grid;
		grid-template-columns: 1fr;
	
	}
	.group-left{
		max-width: 1920/$rf*1rem;
	}
}

    @media screen and (min-width: 1px) and (max-width: 767px) {
        .catalog {
			display: none;
		}
		.content-intro {
			display: none;
		}
		.slider-container{
			display: none;
		}
		.blocks{
			margin: 0rem auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

		}
		.block{
			width: 100%;
			
		}
		.navigation {
			width: 100%;
			height: auto;
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			align-items: center;
			background-color: #d7d8db;
			&__logo {
				height: 0.64*100/$rf*1rem;
				margin-top: 10px;
			}

			&__link {margin: 20/$rf*1rem 0rem;
				text-transform: capitalize;
				text-decoration: none;
				color: #6d6464;
				font-size: 0.64*36/$rf*1rem;
			}
		}
		.blocks {
			
			flex: 0 0 80%;
			gap: 0.64*60/$rf*1rem;
		}
		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			margin: 0px;
			padding: 0px;
			background-color: #f7f5f5;
			padding-top: 10px;
			margin-bottom: 20px;
		}
		.contacts {
			margin: 0rem;
			margin-left: 20px;
			align-self: flex-start;
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
		}
		.tel {
			display: flex;
			align-items: center;
			justify-content: center;
			
				&__img {
					width: 1rem;
					height: auto;
					
				}

				&__number {
					
					font-size: 1rem;
					font-weight: 400;
					font-family:'Myriad Pro','Courier New', Courier, monospace;
					color: #6d6464;
				}
		}
	.mail {

		display: flex;
		align-items: center;
		justify-content: center;
		
			&__img {
				margin:0rem;
				width: 1rem;
				height: auto;
				margin: 20/$rf*1rem 0rem;
			}

			&__number {
				margin:0rem;
				font-size: 1rem;
				font-weight: 400;
				font-family:'Myriad Pro','Courier New', Courier, monospace;
				color: #6d6464;
			}

	}

	.bnt-link {
		width: auto;
		height: 0.64*76/$rf*1rem;	
		background-color: #253f78;
		border-color: transparent;
		border-width: 0px;
		color: white;
		
		
		
		margin-right: 0.64*40/$rf*1rem;
		font-size: 	23/$rf*1rem;
		text-transform: uppercase;
		
	}
	.articles {
		
		&__title {
			margin-right: auto;
			margin-left: auto;
			width: fit-content;
		}
	}
	.news {
	
		&__title {
			margin-right: auto;
			margin-left: auto;
			width: fit-content;
		}
	}
	.video {
		&__title {
			margin-right: auto;
			margin-left: auto;
			width: fit-content;
		}
	}
}

@media screen and (min-width: 1px) and (max-width: 500px) {
.content{
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}
.content-main{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
}