$rf: 18;
html {
    font-size: 12px;
    @media screen and (min-width: 1px) and (max-width: 359px) {
        font-size: 9px;
    }   
    @media screen and (min-width: 360px) and (max-width: 450px) {
        font-size: 12px;
    }
    @media screen and (min-width: 451px) and (max-width: 599px) {
        font-size: 14px;
    }
    @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1090px) {
        font-size: 9px;
    }
	@media screen and (min-width: 1090px) and (max-width: 1209px) {
        font-size: 10px;
    }
    @media screen and (min-width: 1210px) and (max-width: 1300px) {
        font-size: 11px;
    }
    @media screen and (min-width: 1301px) and (max-width: 1400px) {
        font-size: 12px;
    }
	@media screen and (min-width: 1401px) and (max-width: 1500px) {
        font-size: 12px;

    }
    @media screen and (min-width: 1501px) and (max-width: 1600px) {
        font-size: 13px;

    }
    @media screen and (min-width: 1601px) and (max-width: 1700px)  {
        font-size: 14px;

    }
    @media screen and (min-width: 1700px) and (max-width: 1800px) {
        font-size: 15px;
    }
    @media screen and (min-width: 1800px) and (max-width: 11930px) {
        font-size: 16px;
    }
}

body {
    margin: 0px;
    padding: 0px;
	font-size: 1rem;
	font-weight: 400;
	font-family:'Myriad Pro','Courier New', Courier, monospace;
	color: #6d6464;
	background-color: #f7f5f5;
}
a {
    text-decoration: none;
}
.navigation {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 0.64*125/$rf*1rem;
	align-items: center;
	background-color: #d7d8db;
		&__logo {
			height: 0.64*100/$rf*1rem;
		}

		&__link {
			text-transform: capitalize;
			text-decoration: none;
			color: #6d6464;
			font-size: 0.64*36/$rf*1rem;
		}
        &__link:hover {
            text-decoration: none;
        }
		&__burger {
            display: block;
            position: relative;
            width: 34px;;
            height: 26.5px;
            z-index: 20;
        }
		&__burger span{

            position: absolute;
            left: 0;
            top: 11.34px;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
		}
        &__burger::before{

            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
        }
        &__burger::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
        }
        &__burger.burger-active span{
            transform: scale(0);
            
        }
        &__burger.burger-active::before{
            transform: rotate(45deg);
            top: 11px;
           
        }
        &__burger.burger-active::after{
            transform: rotate(-45deg);
            bottom: 11px;
            
        }
		&__btn{
			color: white;
			background-color: transparent;
			outline: none;
			border-width: 0px;
			text-transform: capitalize;
			text-decoration: none;
			margin: 1rem 0rem;
			padding: 0rem;
			font-size: 0.64*36/$rf*1rem;
			margin-left: 5rem;
			justify-content: left;
			width: fit-content;

		}
        &__container-links {
			display: flex;
			flex-direction: column;
			animation-name: fadeInDownBig;
			animation-timing-function: ease;
			animation-duration: 1.5s;
		}
		&__container-unactive{
			display: none;
		}
		&__title {
			
			margin: 0rem;
			color: white;
			font-weight: bold;
			font-size: 1.3rem;
			margin: 1rem 0rem;
			margin-left: 5rem;
			
		}
		
}
.clicked-link {
	color: #253f78;
}
.link-add {
	display: none;
}

@-o-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}
@keyframes fadeInDownBig {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}


@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	-o-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}

.act
{
	animation-timing-function: ease;
	animation-duration: 1.5s;
-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	-o-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;}

@media screen and (min-width: 1px) and (max-width: 767px) {
        .link-add{
			display: inline;
		}
		.link-delete {
			display: none;
		}
        .navigation {
			width: 100%;
			height: auto;
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			align-items: flex-start;
			padding-top: 2rem;
			padding-bottom: 1rem;
			background-color: #253f78;
			&__logo {
				margin-left: 5rem;
				height: 0.64*100/$rf*1rem;
				margin-top: 10px;
			}

			&__link {
				margin: 20/$rf*1rem 0rem;
				
				margin-left: 5rem;
				text-transform: capitalize;
				text-decoration: none;
				color: white;
				font-size: 0.64*36/$rf*1rem;
			}
			&__burger{
            	display: none;
        	}
		}
    }