$rf: 18;
.content-group__title{
		position: relative;
	}
	.content-group__title:hover::before{
		content: '';
		position: absolute;
		top: 12px;
		left: -10px;
		background-color: #253f78;
		height: 4px;
		width: 4px;
		border-radius: 50%;
	}
.partners-video {
		display: none;
		
		&__text{
			margin: 0rem;
			
			font-weight: bold;
			font-size: 0.64*51/$rf*1rem;
			color:#253f78;
		}
		&__subtitle{
            animation-name: fadeInDownBig;
				animation-timing-function: ease;
				animation-duration: 1.5s;
			font-weight: 400;
		}
	}
	.partners-text{
		display: none;
		
	}
	.partners-text-active{
		display: block;
	}
	.partner-video {

			&__title {
				text-align: right;
				margin:0rem;
				font-weight: bold;
				font-size: 0.64*90/$rf*1rem;
				color:#253f78;
				margin-top: 0.64*75/$rf*1rem;
				margin-bottom: 0.64*25/$rf*1rem;
			}

			&__iframe {
                animation-name: fadeInDownBig;
				animation-timing-function: ease;
				animation-duration: 1.5s;
				max-width: 600/$rf*1rem;
				width: 100%;
				height: 0.64*385/$rf*1rem;
			}
	}
    @-o-keyframes fadeInUpBig {
		0% {
			opacity: 0;
			-o-transform: translateY(2000px);
		}
		
		100% {
			opacity: 1;
			-o-transform: translateY(0);
		}
	}
	@keyframes fadeInDownBig {
		0% {
			opacity: 0;
		}
		
		100% {
			opacity: 1;
		}
	}


	@keyframes fadeInUpBig {
		0% {
			opacity: 0;
			transform: translateY(2000px);
		}
		
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.fadeInUpBig {
		-webkit-animation-name: fadeInUpBig;
		-moz-animation-name: fadeInUpBig;
		-o-animation-name: fadeInUpBig;
		animation-name: fadeInUpBig;
	}

	.act
	{
		animation-timing-function: ease;
		animation-duration: 1.5s;
	-webkit-animation-name: fadeInUpBig;
		-moz-animation-name: fadeInUpBig;
		-o-animation-name: fadeInUpBig;
		animation-name: fadeInUpBig;}