@import url("./../css/normalize.css");
@import url("./../css/relative-fonts.css");
.header {
  padding-top: 1.11111rem;
  padding-bottom: 1.11111rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20% 1fr;
      grid-template-columns: 1fr 20% 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: transparent;
  border-bottom: #000;
  border-style: solid;
}

.header__logo {
  max-height: 8.33333rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.77778rem;
  margin-right: 2.77778rem;
  min-width: 19.44444rem;
}

.navigation__label {
  font-size: 1.66667rem;
  font-weight: 400;
  text-transform: uppercase;
}

.label-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.label-img__img {
  height: 1.55556rem;
  margin-right: 0.33333rem;
}
