html {
  font-size: 12px;
}

@media screen and (min-width: 1px) and (max-width: 359px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 451px) and (max-width: 599px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1090px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 1090px) and (max-width: 1209px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 1210px) and (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1400px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1500px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1800px) and (max-width: 11930px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Old Standard TT', serif;
}
