/*
@font-face {
    font-family: Montserrat;
    src: url(.\fonts\montserrat\Montserrat-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
*/
html {
  font-size: 16px;
}

@media (max-width: 360px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1920px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 2560px) {
  html {
    font-size: 19px;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.page {
  font-family: 'Montserrat', sans-serif;
  padding-top: 2.9rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  padding-bottom: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel {
  font-size: 2.22rem;
  font-weight: 400;
  line-height: 2.76rem;
  color: black;
  margin: 0px;
}

.header__burger {
  display: none;
}

.logo {
  border: 0.16667rem solid #6B95FF;
  border-radius: 1.11111rem;
  width: 15rem;
  height: 3.88889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  padding: 0px;
  margin: 0px;
  font-size: 1.44444rem;
  font-weight: 500;
  line-height: 1.76056rem;
}

.main {
  margin: 0px;
  padding: 0px;
  margin-top: 2.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19rem 1fr;
      grid-template-columns: 19rem 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 2.55556rem;
}

.sidebar {
  height: 47.77778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__copyrights {
  margin: 0px;
  font-size: 0.66667rem;
  font-weight: 500;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 2.22222rem;
  outline: none;
  position: relative;
}

.navbar__link:hover:before {
  content: '';
  position: absolute;
  left: -35%;
  top: 15%;
  width: 5.5rem;
  height: 3px;
  background-color: #6B95FF;
}

.navbar__link-clicked {
  color: #6B95FF;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.content-name__title {
  margin: 0rem;
  padding: 0rem;
  font-weight: 500;
  font-style: normal;
  font-size: 1.66667rem;
  line-height: 2.05556rem;
  margin-top: 0;
}

.teachers {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.16667rem;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.teacher-profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*max-width: 656/$rf * 1rem;
    max-height: 450/$rf *1rem;*/
  min-width: 36.44444rem;
  min-height: 25rem;
}

.teacher-profile__title {
  position: relative;
  margin-left: 1.83333rem;
  margin-top: 4.61111rem;
  font-size: 1.66667rem;
  font-weight: 700;
  line-height: 2.05556rem;
}

.teacher-profile__img {
  position: absolute;
  /*background: url("../../img/index__png/deti.png");
        background-repeat: no-repeat;
        background-size: cover;*/
  border-radius: 50%;
  width: 14.72222rem;
  height: 14.72222rem;
  top: 1.72222rem;
  right: 2rem;
}

.teacher-profile__subtitle {
  position: relative;
  max-width: 36.44444rem;
  margin-left: 1.83333rem;
  margin-bottom: 1.66667rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.22222rem;
  overflow-wrap: break-word;
}

.teacher-profile::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #99b6ff;
  opacity: 0.3;
  border-radius: 1.11111rem;
}

.our-teachers {
  margin: 0rem;
  padding: 0rem;
  margin-top: 5rem;
}

.our-teachers__title {
  margin: 0rem;
  padding: 0rem;
  margin-bottom: 2.77778rem;
  font-weight: 900;
  font-style: normal;
  font-size: 2.22222rem;
  text-transform: uppercase;
  line-height: 2.72222rem;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3.05556rem;
}

.buttons-container__button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.38889rem;
  width: auto;
  height: auto;
  padding-left: 1.83333rem;
  padding-right: 1.83333rem;
  padding-top: 1.05556rem;
  padding-bottom: 1.05556rem;
  border: 3px solid #6B95FF;
  border-radius: 2.22222rem;
  color: #6B95FF;
  background-color: transparent;
}

.buttons-container__button:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}

.buttons-container__button:focus {
  outline: none;
}

.button_clicked {
  color: black;
  border-color: black;
}

.button_clicked:hover {
  cursor: auto;
}

.button-text {
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.22222rem;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1200px) {
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 1.16667rem;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .page {
    padding: 1.66667rem 1.38889rem;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 101;
  }
  .header__tel {
    position: absolute;
    top: -700%;
    left: 0;
    z-index: -1;
    font-size: 1.38889rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.72222rem;
    letter-spacing: 0rem;
    text-align: left;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__tel.active {
    top: 200%;
    z-index: 10;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 34px;
    height: 26.5px;
    z-index: 20;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 11.34px;
    width: 34px;
    height: 4px;
    background-color: #6B95FF;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 4px;
    background-color: #6B95FF;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 34px;
    height: 4px;
    background-color: #6B95FF;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 11px;
  }
  .logo {
    z-index: 101;
    width: 5.72222rem;
    height: 2.05556rem;
    border-radius: 1.11111rem;
  }
  .logo__title {
    font-size: 0.77778rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.94444rem;
    letter-spacing: 0rem;
    text-align: left;
  }
  .sidebar {
    z-index: -1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#99B6FF));
    background: linear-gradient(180deg, #FFFFFF 0%, #99B6FF 100%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .sidebar__copyrights {
    margin: 0rem 1.38889rem 1.66667rem 1.38889rem;
  }
  .sidebar.active {
    z-index: 10;
    top: 0%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar {
    margin: 10.16667rem 1.38889rem 0rem 1.38889rem;
  }
  .navbar__link {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22222rem;
    letter-spacing: 0rem;
    text-align: left;
  }
  .main {
    margin: 0px;
    padding: 0px;
    margin-top: 2.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
