/*
@font-face {
    font-family: Montserrat;
    src: url(.\fonts\montserrat\Montserrat-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
*/
html {
  font-size: 16px;
}

@media (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1370px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1450px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1610px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.page {
  font-family: 'Montserrat', sans-serif;
  padding-top: 2.9rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  padding-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__tel {
  font-size: 2.22rem;
  font-weight: 400;
  line-height: 2.76rem;
  color: black;
  margin: 0px;
}

.logo {
  border: 0.16667rem solid #6B95FF;
  border-radius: 1.11111rem;
  width: 15rem;
  height: 3.88889rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__title {
  padding: 0px;
  margin: 0px;
  font-size: 1.44444rem;
  font-weight: 500;
  line-height: 1.76056rem;
}

.main {
  margin: 0px;
  padding: 0px;
  margin-top: 2.6rem;
  display: grid;
  grid-template-columns: 19rem 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2.55556rem;
}

.sidebar {
  height: 47.77778rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__copyrights {
  margin: 0px;
  font-size: 0.66667rem;
  font-weight: 500;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar__link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 2.22222rem;
  outline: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.16667rem;
}

.article-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-color: transparent;
  border-style: solid;
  border-width: 0px;
  border-radius: 1.11111rem;
  max-width: 36.44444rem;
  max-height: 47.77778rem;
  padding-top: 2.5rem;
  padding-bottom: 1.66667rem;
  padding-left: 2.44444rem;
  padding-right: 2.44444rem;
  color: white;
}

.article-box__title {
  text-transform: uppercase;
  font-size: 2.72222rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.33333rem;
  margin: 0px;
  padding: 0px;
  overflow-wrap: break-word;
}

.article-box-1 {
  display: inline-block;
  position: relative;
}

.article-box-1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #99B6FF 0%, #DF8EFF 95.5%);
  mix-blend-mode: multiply;
  border-radius: 1.11111rem;
  z-index: -1;
}

.article-box-1:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/index__png/deti.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.11111rem;
  z-index: -2;
}

.article-about {
  display: block;
  text-decoration: none;
}

.article-about__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 1.44444rem;
  text-decoration: none;
  color: white;
  height: 1.77778rem;
}

.arrow {
  position: relative;
  height: 0.88889rem;
  width: 2.83333rem;
  display: flex;
  align-items: center;
  margin-left: 1.11111rem;
}

.arrow__body {
  position: absolute;
  left: 0;
  height: 0.11111rem;
  width: 2.77778rem;
  background-color: white;
}

.arrow__side::after {
  content: '';
  position: absolute;
  width: 0.11111rem;
  height: 0.5rem;
  bottom: 0.05556rem;
  right: 0;
  background-color: #fff;
  transform: rotate(45deg);
  border-radius: 0.27778rem;
  z-index: 10;
}

.arrow__side::before {
  content: '';
  position: absolute;
  width: 0.11111rem;
  height: 0.5rem;
  top: 0.05556rem;
  right: 0;
  background-color: #fff;
  transform: rotate(-45deg);
  border-radius: 0.27778rem;
  z-index: 10;
}

.arrow__side {
  position: absolute;
  width: 0.44444rem;
  height: 0.88889rem;
  right: 0.11111rem;
  top: 0;
  z-index: 10;
}

.article-box-2 {
  background-color: #6B95FF;
}

.article-box-item__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.16667rem;
  line-height: 2.66667rem;
  margin: 0rem;
  padding: 0rem;
  margin-bottom: 0.66667rem;
}

.article-box-item__subtitle {
  margin: 0rem;
  margin-top: 0.66667rem;
  margin-bottom: 1.66667rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.77778rem;
  line-height: 2.16667rem;
}

.about-bottompos {
  position: absolute;
  bottom: 1.66667rem;
}

@media (max-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.16667rem;
  }
}
