html {
  font-size: 16px;
  /*770 - mobile*/
}

@media (max-width: 1610px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1450px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1370px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.page {
  font-family: 'Montserrat', sans-serif;
  padding-top: 2.9rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  padding-bottom: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel {
  font-size: 2.22rem;
  font-weight: 400;
  line-height: 2.76rem;
  color: black;
  margin: 0px;
}

.logo {
  border: 0.16667rem solid #6B95FF;
  border-radius: 1.11111rem;
  width: 15rem;
  height: 3.88889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  padding: 0px;
  margin: 0px;
  font-size: 1.44444rem;
  font-weight: 500;
  line-height: 1.76056rem;
}

.main {
  margin: 0px;
  padding: 0px;
  margin-top: 2.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19rem 1fr;
      grid-template-columns: 19rem 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 2.55556rem;
}

@media (max-width: 770px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.sidebar {
  height: 47.77778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 770px) {
  .sidebar {
    display: none;
  }
}

.sidebar__copyrights {
  margin: 0px;
  font-size: 0.66667rem;
  font-weight: 500;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 2.22222rem;
  outline: none;
  position: relative;
}

.navbar__link:hover:before {
  content: '';
  position: absolute;
  left: -35%;
  top: 15%;
  width: 5.5rem;
  height: 3px;
  background-color: #6B95FF;
}

.navbar__link-clicked {
  color: #6B95FF;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 8.05556rem;
}

@media (max-width: 770px) {
  .content {
    margin-right: 0;
  }
}

.content__title {
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-size: 2.22222rem;
  line-height: 2.72222rem;
  margin-top: 0;
}

.content__subtitle {
  font-weight: 900;
  font-style: normal;
  font-size: 2.22222rem;
  text-transform: uppercase;
  line-height: 2.72222rem;
  margin-top: 5rem;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.05556rem;
}

.buttons-container__button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.38889rem;
  margin-top: 0rem;
  width: auto;
  height: auto;
  padding-left: 1.83333rem;
  padding-right: 1.83333rem;
  padding-top: 1.05556rem;
  padding-bottom: 1.05556rem;
  border: 0.16667rem solid #6B95FF;
  border-radius: 2.22222rem;
  color: #6B95FF;
  background-color: transparent;
}

.buttons-container__button:hover {
  color: white;
  background-color: #6B95FF;
  cursor: pointer;
}

.buttons-container__button:focus {
  outline: none;
}

.button_clicked {
  color: white;
  background-color: #6B95FF;
}

.button_clicked:hover {
  cursor: auto;
}

.button-text {
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.22222rem;
  font-weight: 700;
  margin: 0;
}

.etournament {
  /*margin-top: 49/$rf * 1rem;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.etournament__img {
  background-image: url("./../../img/olympiads_jpg/olympiad_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.11111rem;
  height: 14.05556rem;
}

.etournament__text {
  font-weight: 500;
  font-size: 1.66667rem;
  font-style: normal;
  line-height: 2.03333rem;
}

.tiger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tiger__upper-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

@media (max-width: 770px) {
  .tiger__upper-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.tiger__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tiger__left-side__img {
  position: relative;
  /*max-width: 622/$rf *1rem;*/
  height: 100%;
}

@media (max-width: 770px) {
  .tiger__left-side__img {
    height: 144px;
  }
}

.tiger__left-side__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../img/index__png/deti.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.11111rem;
  z-index: -2;
}

@media (max-width: 770px) {
  .tiger__left-side__img::before {
    height: 144px;
  }
}

.tiger__left-side__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#99B6FF), color-stop(95.5%, #DF8EFF));
  background: linear-gradient(90deg, #99B6FF 0%, #DF8EFF 95.5%);
  mix-blend-mode: multiply;
  border-radius: 1.11111rem;
  z-index: -1;
}

@media (max-width: 770px) {
  .tiger__left-side__img::after {
    height: 144px;
  }
}

.tiger__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tiger__right-side__text {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.22222rem;
}

.tiger__reg-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*margin-top: 33/$rf *1rem;*/
}

.tiger__reg-block__text {
  font-weight: 700;
  font-size: 1.44444rem;
  font-style: normal;
  line-height: 1.88889rem;
}

.tiger__reg-block__button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-right: 0;
  margin-top: 0;
  width: auto;
  height: auto;
  padding-left: 1.83333rem;
  padding-right: 1.83333rem;
  padding-top: 1.05556rem;
  padding-bottom: 1.05556rem;
  border: 0.16667rem solid #6B95FF;
  border-radius: 2.22222rem;
  color: #6B95FF;
  background-color: transparent;
}

.tiger__reg-block__button:hover {
  color: white;
  background-color: #6B95FF;
  cursor: pointer;
}

.tiger__reg-block__button:focus {
  outline: none;
}

.tiger__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tiger__price-block__title {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.3rem;
}

.tiger__price-block__subtitle {
  margin-top: 0;
  font-weight: 500;
  font-size: 0.77778rem;
  font-style: normal;
  line-height: 1rem;
}

.tiger__price-block__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tiger__lower-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.22222rem;
  margin-top: 2.5rem;
}

.price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 5.55556rem;
  border-radius: 0.55556rem;
  background-color: #D7E2FF;
}

.price-container__name {
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.22222rem;
  width: 13.88889rem;
  margin-left: 1.38889rem;
}

.price-container__vert-line {
  border-left: 0.11111rem solid white;
  height: 80%;
  margin-left: 3.22222rem;
}

.price-container__value {
  font-weight: 500;
  font-size: 1.44444rem;
  font-style: normal;
  line-height: 1.77778rem;
  margin-left: 4.44444rem;
}

.more-info {
  max-width: 73.94444rem;
  margin-top: 3.33333rem;
  text-decoration: none;
  color: black;
}

.more-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.44444rem;
  font-style: normal;
  line-height: 1.76111rem;
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-skip-ink: none;
}

.arrow {
  position: relative;
  height: 0.88889rem;
  width: 2.77778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.11111rem;
}

.arrow__body {
  position: absolute;
  left: 0;
  height: 0.11111rem;
  width: 2.77778rem;
  background-color: black;
}

.arrow__side::after {
  content: '';
  position: absolute;
  width: 0.11111rem;
  height: 0.5rem;
  bottom: 0.05556rem;
  right: 0;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0.27778rem;
  z-index: 10;
}

.arrow__side::before {
  content: '';
  position: absolute;
  width: 0.11111rem;
  height: 0.5rem;
  top: 0.05556rem;
  right: 0;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 0.27778rem;
  z-index: 10;
}

.arrow__side {
  position: absolute;
  width: 0.44444rem;
  height: 0.88889rem;
  right: 0.11111rem;
  top: 0;
  z-index: 10;
}

@media (max-width: 1200px) {
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1.16667rem;
  }
}

.umosfera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.umosfera__img {
  height: 14.05556rem;
  border-color: transparent;
  border-width: 0px;
  border-radius: 1.11111rem;
  position: relative;
  margin-bottom: 3.33333rem;
}

.umosfera__img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#99B6FF), color-stop(95.5%, #DF8EFF));
  background: linear-gradient(90deg, #99B6FF 0%, #DF8EFF 95.5%);
  mix-blend-mode: multiply;
  border-radius: 1.11111rem;
  z-index: -1;
}

.umosfera__img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/olympiads_jpg/umosfera.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.11111rem;
  z-index: -2;
}

.umosfera__text {
  font-weight: 500;
  font-size: 1.66667rem;
  font-style: normal;
  line-height: 2.03333rem;
}
