html {
  font-size: 12px;
}

@media screen and (min-width: 1px) and (max-width: 359px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 451px) and (max-width: 599px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1040px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1300px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1400px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1921px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 1922px) and (max-width: 2560px) {
  html {
    font-size: 21px;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.page {
  font-family: 'Montserrat', sans-serif;
  padding-top: 2.9rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  padding-bottom: 2rem;
}

@media (max-width: 1000px) {
  .page {
    padding-top: 1.66667rem;
    padding-left: 1.38889rem;
    padding-right: 1.38889rem;
    padding-bottom: 1.66667rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel {
  font-size: 2.22rem;
  font-weight: 400;
  line-height: 2.76rem;
  color: black;
  margin: 0px;
}

.header__burger {
  display: none;
}

.logo {
  border: 0.16667rem solid #6B95FF;
  border-radius: 1.11111rem;
  width: 15rem;
  height: 3.88889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  padding: 0px;
  margin: 0px;
  font-size: 1.44444rem;
  font-weight: 500;
  line-height: 1.76056rem;
}

.main {
  margin: 0px;
  padding: 0px;
  margin-top: 2.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19rem 1fr;
      grid-template-columns: 19rem 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 2.55556rem;
}

.sidebar {
  height: 47.77778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__copyrights {
  margin: 0px;
  font-size: 0.66667rem;
  font-weight: 500;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 2.22222rem;
  outline: none;
  position: relative;
}

.navbar__link:hover:before {
  content: '';
  position: absolute;
  left: -35%;
  top: 15%;
  width: 5.5rem;
  height: 3px;
  background-color: #6B95FF;
}

.navbar__link-clicked {
  color: #6B95FF;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-nav {
  padding: 0rem;
  margin: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.33333rem;
}

.nav-btn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.38889rem;
  margin-bottom: 0.83333rem;
  width: auto;
  height: auto;
  padding-left: 1.83333rem;
  padding-right: 1.83333rem;
  padding-top: 1.05556rem;
  padding-bottom: 1.05556rem;
  border: 0.16667rem solid #6B95FF;
  border-radius: 2.22222rem;
  color: #6B95FF;
  background-color: transparent;
}

.nav-btn__text {
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.22222rem;
  font-weight: 700;
  margin: 0rem;
}

.nav-btn:hover {
  color: white;
  background-color: #6B95FF;
  cursor: pointer;
}

.nav-btn:focus {
  outline: none;
}

.nav-btn_clicked {
  color: white;
  background-color: #6B95FF;
}

.nav-btn_clicked:hover {
  cursor: auto;
}

.article {
  padding: 0rem;
  margin: 0rem;
}

.article__title {
  padding: 0rem;
  margin: 0rem;
  font-family: Montserrat;
  font-size: 2.22222rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.72222rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
  margin-bottom: 3.33333rem;
}

.article__paragraph {
  padding: 0rem;
  margin: 0rem;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.22222rem;
  letter-spacing: 0rem;
  text-align: left;
}

.article__img {
  position: relative;
  height: 22.55556rem;
  border-color: transparent;
  border-width: 0px;
  border-radius: 1.11111rem;
  margin: 0rem;
}

.article__img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/online__schools/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.11111rem;
  z-index: -2;
}

.article__img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #99B6FF;
  mix-blend-mode: multiply;
  border-radius: 1.11111rem;
  z-index: -1;
}

.article-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2.77778rem;
}

.article-about {
  display: block;
  text-decoration: underline;
  color: black;
  margin-top: 2.77778rem;
}

.article-about__text {
  margin-top: 0.55556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.44444rem;
  text-decoration: none;
  color: black;
  height: 1.77778rem;
}

.arrow {
  position: relative;
  height: 0.88889rem;
  width: 2.83333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.11111rem;
}

.arrow__body {
  position: absolute;
  left: 0;
  height: 0.11111rem;
  width: 2.77778rem;
  background-color: black;
}

.arrow__side::after {
  content: '';
  position: absolute;
  width: 0.11111rem;
  height: 0.5rem;
  bottom: 0.05556rem;
  right: 0;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0.27778rem;
  z-index: 10;
}

.arrow__side::before {
  content: '';
  position: absolute;
  width: 0.11111rem;
  height: 0.5rem;
  top: 0.05556rem;
  right: 0;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 0.27778rem;
  z-index: 10;
}

.arrow__side {
  position: absolute;
  width: 0.44444rem;
  height: 0.88889rem;
  right: 0.11111rem;
  top: 0;
  z-index: 10;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .page {
    padding: 1.66667rem 1.38889rem;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 101;
  }
  .header__tel {
    position: absolute;
    top: -700%;
    left: 0;
    z-index: -1;
    font-size: 1.38889rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.72222rem;
    letter-spacing: 0rem;
    text-align: left;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__tel.active {
    top: 200%;
    z-index: 10;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 34px;
    height: 26.5px;
    z-index: 20;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 11.34px;
    width: 34px;
    height: 4px;
    background-color: #6B95FF;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 4px;
    background-color: #6B95FF;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 34px;
    height: 4px;
    background-color: #6B95FF;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 11px;
  }
  .logo {
    z-index: 101;
    width: 5.72222rem;
    height: 2.05556rem;
    border-radius: 1.11111rem;
  }
  .logo__title {
    font-size: 0.77778rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.94444rem;
    letter-spacing: 0rem;
    text-align: left;
  }
  .sidebar {
    z-index: -1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#99B6FF));
    background: linear-gradient(180deg, #FFFFFF 0%, #99B6FF 100%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .sidebar__copyrights {
    margin: 0rem 1.38889rem 1.66667rem 1.38889rem;
  }
  .sidebar.active {
    z-index: 10;
    top: 0%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar {
    margin: 10.16667rem 1.38889rem 0rem 1.38889rem;
  }
  .navbar__link {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22222rem;
    letter-spacing: 0rem;
    text-align: left;
  }
  .main {
    margin: 0px;
    padding: 0px;
    margin-top: 2.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article__paragraph {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .article__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
