/*
@font-face {
    font-family: Montserrat;
    src: url(.\fonts\montserrat\Montserrat-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
*/


$rf: 18;




html {
    font-size: 16px;
    @media (max-width: 360px) {
        font-size: 9px;
    }
    @media (max-width: 450px) {
        font-size: 14px;
    }
    @media (max-width: 600px) {
        font-size: 16px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
    @media (max-width: 1023px) {
        font-size: 14px;
    }
    @media (max-width: 1200px) {
        font-size: 12px;
    }
    @media (max-width: 1400px) {
        font-size: 14px;
    }
    @media (max-width: 1600px) {
        font-size: 16px;
    }
    @media (max-width: 1920px) {
        font-size: 17px;
    }
    @media (max-width: 2560px) {
        font-size: 19px;
    }
}


body {
    margin: 0px;
    padding: 0px;
    

}


.page {
    font-family: 'Montserrat', sans-serif;
    padding-top: 2.9rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-bottom: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
		&__tel {
            font-size: 2.22rem;
            font-weight: 400;
            line-height: 2.76rem;
            color: black;
            margin: 0px;
        }
        &__burger{
            display: none;
        }

}
.logo {
    border: ((3/$rf)* 1rem) solid #6B95FF;
    border-radius: ((20/$rf)*1rem);
    width: ((270/$rf)*1rem);
    height: ((70/$rf)*1rem);
    display: flex;
    justify-content: center;
    align-items: center; 
    &__title{
        padding: 0px;
        margin: 0px;
        font-size: 26/$rf * 1rem;
        font-weight: 500;
        line-height: 31.69/$rf *1rem;
    }

}
.main {
    margin: 0px;
    padding: 0px;
    margin-top: (46.8/$rf) * 1rem;
    display: grid;
    grid-template-columns: 19rem 1fr;
    grid-template-rows: 1fr;
    grid-gap: 46/$rf *1rem;
    
}
.sidebar {
    height: 860/$rf *1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		&__copyrights {
            margin: 0px;
            font-size: 12/$rf*1rem;
            font-weight: 500;
		}
}
.navbar {
    display: flex;
    flex-direction: column;
		&__link {
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-weight: 800;
            padding-bottom: (40/$rf)*1rem;
            outline: none;
            position: relative;
		}
        &__link:hover:before {
            content: '';
            position: absolute;
            left: -35%;
            top: 15%;
            width: 5.5rem;
            height: 3px;
            background-color: #6B95FF;
		}
        
        
        &__link-clicked {
            color: #6B95FF;
        }
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    
}
.content-name {
		&__title {
            margin: 0rem;
            padding: 0rem;
            font-weight: 500;
            font-style: normal;
            font-size: 30/$rf * 1rem;
            line-height: 37/$rf * 1rem;
            margin-top: 0;
		}

		
}


.teachers{
    display: grid;
    grid-gap: (21/$rf)*1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.teacher-profile{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*max-width: 656/$rf * 1rem;
    max-height: 450/$rf *1rem;*/
    min-width: 656/$rf * 1rem;
    min-height: 450/$rf *1rem;
    &__title{
        position: relative;
        margin-left: 33/$rf * 1rem;
        margin-top:  83/$rf * 1rem;
        font-size: 30/$rf *1rem;
        font-weight: 700;
        line-height: 37/$rf *1rem;
    }
    &__img{
        position: absolute;
        /*background: url("../../img/index__png/deti.png");
        background-repeat: no-repeat;
        background-size: cover;*/
        border-radius: 50%;
        width: 265/$rf * 1rem;
        height: 265/$rf * 1rem;
        top:  31/$rf * 1rem;
        right: 36/$rf *1rem;
    }
    &__subtitle{
        position: relative;
        max-width: 656/$rf * 1rem;
        margin-left: 33/$rf * 1rem;
        margin-bottom: 30/$rf*1rem;
        font-weight: 500;
        font-size: 18/$rf *1rem;
        line-height: 22/$rf *1rem;
        overflow-wrap: break-word;
    }
}

.teacher-profile::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(153,182,255);
    opacity: 0.3;
    border-radius: (20/$rf)*1rem;
}
.our-teachers {
    margin: 0rem;
    padding: 0rem;
    margin-top: 90/$rf * 1rem; 
		&__title {
            margin: 0rem;
            padding: 0rem;
            margin-bottom:  50/$rf *1rem;
            font-weight: 900;
            font-style: normal;
            font-size: 40/$rf * 1rem;
            text-transform: uppercase;
            line-height: 49/$rf * 1rem;
    }
}


.buttons-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 55/$rf *1rem;
	
    
    &__button{
        transition: all 0.2s ease;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin-right: 25/$rf *1rem;
        width: auto;
        height: auto;
        padding-left: 33/$rf *1rem;
        padding-right: 33/$rf *1rem;
        padding-top: 19/$rf *1rem;
        padding-bottom: 19/$rf *1rem;
        border: 3px solid #6B95FF;
        border-radius: 40/$rf *1rem;
        color: #6B95FF;
        background-color: transparent;
    }
    &__button:hover{
        color: black;
        border-color: black;
        cursor: pointer;
    }
    &__button:focus{
        outline: none;
    }
}

.button_clicked{
    color: black;
    border-color: black;
    &:hover{
        cursor: auto;
    }
}

.button-text{
    font-family: Montserrat;
    font-size: 18/$rf * 1rem;
    line-height: 22/$rf *1rem;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 1200px) {
   .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: (21/$rf)*1rem;
    }     
    
}
@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .page {
        padding: 30/$rf*1rem 25/$rf*1rem;
    }   

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 101;
		&__tel {
            position: absolute;
            top: -700%;
            left: 0;
            z-index: -1;
            font-size: 25/$rf*1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 31/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            transition: all 0.3s ease 0s;

		}
        &__tel.active {
            top: 200%;
            z-index: 10;
        }

        &__burger {
            display: block;
            position: relative;
            width: 34px;;
            height: 26.5px;
            z-index: 20;
        }
		&__burger span{

            position: absolute;
            left: 0;
            top: 11.34px;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
		}
        &__burger::before{

            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
        }
        &__burger::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
        }
        &__burger.active span{
            transform: scale(0);
            
        }
        &__burger.active::before{
            transform: rotate(45deg);
            top: 11px;
           
        }
        &__burger.active::after{
            transform: rotate(-45deg);
            bottom: 11px;
            
        }
}
    .logo {
        z-index: 101;
        width: ((103/$rf)*1rem);
        height: ((37/$rf)*1rem);
        border-radius: ((20/$rf)*1rem);
            &__title {
                font-size: 14/$rf*1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 17/$rf*1rem;
                letter-spacing: 0rem;
                text-align: left;
            }
    }
    .sidebar {
        z-index: -1;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #99B6FF 100%);
        
		&__copyrights {
            margin: 0rem 25/$rf*1rem 30/$rf*1rem 25/$rf*1rem;
        }
        transition: all 0.3s ease 0s;
    }
    .sidebar.active {
        z-index: 10;
        top: 0%;
        transition: all 0.3s ease 0s;
    }
    .navbar {
        margin: 183/$rf*1rem 25/$rf*1rem 0rem 25/$rf*1rem;
            &__link {
                font-size: 18/$rf*1rem;
                font-style: normal;
                font-weight: 700;
                line-height: 22/$rf*1rem;
                letter-spacing: 0rem;
                text-align: left;
            }
    }

    .main {
        margin: 0px;
        padding: 0px;
        margin-top: (46.8/$rf) * 1rem;
        display: flex;
        flex-direction: column;

    }
}