/*
@font-face {
    font-family: Montserrat;
    src: url(.\fonts\montserrat\Montserrat-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
*/


$rf: 18;




html {
    font-size: 12px;
    @media screen and (min-width: 1px) and (max-width: 359px) {
        font-size: 12px;
    }   
    @media screen and (min-width: 360px) and (max-width: 450px) {
        font-size: 13px;
    }
    @media screen and (min-width: 451px) and (max-width: 599px) {
        font-size: 14px;
    }
    @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1040px) {
        font-size: 11px;
    }
    @media screen and (min-width: 1023px) and (max-width: 1300px) {
        font-size: 12px;
    }
    @media screen and (min-width: 1301px) and (max-width: 1400px) {
        font-size: 13px;
    }
    @media screen and (min-width: 1401px) and (max-width: 1600px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1601px) and (max-width: 1921px)  {
        font-size: 17px;
    }
    @media screen and (min-width: 1922px) and (max-width: 2560px) {
        font-size: 21px;
    }
}

body {
    margin: 0px;
    padding: 0px;
    

}


.page {
    font-family: 'Montserrat', sans-serif;
    padding-top: 2.9rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-bottom: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
		&__tel {
            font-size: 2.22rem;
            font-weight: 400;
            line-height: 2.76rem;
            color: black;
            margin: 0px;
        }
        &__burger {
            display: none;
        }
}
.logo {
    border: ((3/$rf)* 1rem) solid #6B95FF;
    border-radius: ((20/$rf)*1rem);
    width: ((270/$rf)*1rem);
    height: ((70/$rf)*1rem);
    display: flex;
    justify-content: center;
    align-items: center; 
    &__title{
        padding: 0px;
        margin: 0px;
        font-size: 26/$rf * 1rem;
        font-weight: 500;
        line-height: 31.69/$rf *1rem;
    }

}
.main {
    margin: 0px;
    padding: 0px;
    margin-top: (46.8/$rf) * 1rem;
    display: grid;
    grid-template-columns: 19rem 1fr;
    grid-template-rows: 1fr;
    grid-gap: 46/$rf *1rem;
    
}
.sidebar {
    height: 860/$rf *1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		&__copyrights {
            margin: 0px;
            font-size: 12/$rf*1rem;
            font-weight: 500;
		}
}
.navbar {
    display: flex;
    flex-direction: column;
		&__link {
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-weight: 800;
            padding-bottom: (40/$rf)*1rem;
            outline: none;
            position: relative;
		}
        &__link:hover:before {
            content: '';
            position: absolute;
            left: -35%;
            top: 15%;
            width: 5.5rem;
            height: 3px;
            background-color: #6B95FF;
		}
        
        
        &__link-clicked {
            color: #6B95FF;
        }
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: (21/$rf)*1rem;
}
.article-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: transparent;
    border-style: solid;
    border-width: 0px;
    border-radius: (20/$rf)*1rem;
    max-width: 656/$rf * 1rem;
    max-height: 860/$rf *1rem;
    padding-top: 45/$rf *1rem;
    padding-bottom: 30/$rf *1rem;
    padding-left: 44/$rf * 1rem;
    padding-right: 44/$rf * 1rem;
    color: white;
		&__title {
            text-transform: uppercase;
            font-size: 49/$rf * 1rem;
            font-style: normal;
            font-weight: 900;        
            line-height: 60/$rf *1rem;
            margin: 0px;
            padding: 0px;
            overflow-wrap: break-word;
		}
}
.article-box-1 {
    display: inline-block;
	position: relative;
    
}

.article-box-1:after {
	content: "";
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
    background: linear-gradient(90deg, #99B6FF 0%, #DF8EFF 95.5%);
    mix-blend-mode: multiply;
    border-radius: (20/$rf)*1rem;
    z-index: -1;    
}
.article-box-1:before {
	content: "";       
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	background-image: url("../../img/index__png/deti.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: (20/$rf)*1rem;
    z-index: -2;
}


.article-about {
    display: block;
    text-decoration: none;
    &__text {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 500;
            font-size: 26/$rf *1rem;
            text-decoration: none;
            color: white;
            height: 32/$rf *1rem;
		}
}


.arrow {
    position: relative;
    height: 16/$rf *1rem;
    width: 51/$rf *1rem;
    display: flex;
    align-items: center;
    margin-left: 20/$rf*1rem;
        &__body {
            position: absolute;
            left: 0;
            height: 2/$rf*1rem;
            width: 50/$rf*1rem;
            background-color: white ;
		}
        
        &__side::after {
            content: '';
            position: absolute;
            width: 2/$rf*1rem;
            height: 9/$rf*1rem;
            bottom: 1/$rf*1rem;
            right: 0;
            background-color: #fff;
            transform: rotate(45deg);
            border-radius: 5/$rf*1rem;
            z-index: 10;
        }
        &__side::before {
            content: '';
            position: absolute;
            width: 2/$rf*1rem;
            height: 9/$rf*1rem;
            top: 1/$rf*1rem;
            right: 0;
            background-color: #fff;
            transform: rotate(-45deg);
            border-radius: 5/$rf*1rem;
            z-index: 10;
        }

		&__side {
            position: absolute;
            width: 8/$rf*1rem;
            height: 16/$rf*1rem;
            right: 2/$rf*1rem;
            top: 0;
            z-index: 10;
		}
        
}
.article-box-2{
    background-color: #6B95FF;
}
.article-box-item {

		&__title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 39/$rf *1rem;
            line-height: 48/$rf *1rem;
            margin: 0rem;
            padding: 0rem;
            margin-bottom: 12/$rf*1rem;
		}

		&__subtitle {
            margin: 0rem;
            margin-top: 12/$rf*1rem;
            margin-bottom: 30/$rf*1rem;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 32/$rf *1rem;
            line-height: 39/$rf *1rem;

		}
}

.about-bottompos{
    position: absolute;
    bottom: 30/$rf *1rem;;

}
@media (max-width: 1023px) {
   .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: (21/$rf)*1rem;
    }     
    
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .page {
        padding: 30/$rf*1rem 25/$rf*1rem;
    }   

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 101;
		&__tel {
            position: absolute;
            top: -700%;
            left: 0;
            z-index: -1;
            font-size: 25/$rf*1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 31/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            transition: all 0.3s ease 0s;

		}
        &__tel.active {
            top: 200%;
            z-index: 10;
        }

        &__burger {
            display: block;
            position: relative;
            width: 34px;;
            height: 26.5px;
            z-index: 20;
        }
		&__burger span{

            position: absolute;
            left: 0;
            top: 11.34px;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
		}
        &__burger::before{

            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
        }
        &__burger::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
        }
        &__burger.active span{
            transform: scale(0);
            
        }
        &__burger.active::before{
            transform: rotate(45deg);
            top: 11px;
           
        }
        &__burger.active::after{
            transform: rotate(-45deg);
            bottom: 11px;
            
        }
}
    .logo {
        z-index: 101;
        width: ((103/$rf)*1rem);
        height: ((37/$rf)*1rem);
        border-radius: ((20/$rf)*1rem);
            &__title {
                font-size: 14/$rf*1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 17/$rf*1rem;
                letter-spacing: 0rem;
                text-align: left;
            }
    }
    .sidebar {
        z-index: -1;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #99B6FF 100%);
        
		&__copyrights {
            margin: 0rem 25/$rf*1rem 30/$rf*1rem 25/$rf*1rem;
        }
        transition: all 0.3s ease 0s;
    }
    .sidebar.active {
        z-index: 10;
        top: 0%;
        transition: all 0.3s ease 0s;
    }
    .navbar {
        margin: 183/$rf*1rem 25/$rf*1rem 0rem 25/$rf*1rem;
            &__link {
                font-size: 18/$rf*1rem;
                font-style: normal;
                font-weight: 700;
                line-height: 22/$rf*1rem;
                letter-spacing: 0rem;
                text-align: left;
            }
    }

    .main {
        margin: 0px;
        padding: 0px;
        margin-top: (46.8/$rf) * 1rem;
        display: flex;
        flex-direction: column;

    }
}