$rf: 18;
.navbar {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
		li {
            margin: 0rem;
            padding: 0rem;
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-weight: 800;
            padding-bottom: (40/$rf)*1rem;
            outline: none;
            position: relative;
		}
        li:hover:before {
            content: '';
            position: absolute;
            left: -35%;
            top: 15%;
            width: 5.5rem;
            height: 3px;
            background-color: #6B95FF;
		}
        a{
            text-decoration: none;
            color: black;
        }
}