$rf: 18;
html {
    font-size: 12px;
    @media screen and (min-width: 1px) and (max-width: 359px) {
        font-size: 12px;
    }   
    @media screen and (min-width: 360px) and (max-width: 450px) {
        font-size: 13px;
    }
    @media screen and (min-width: 451px) and (max-width: 599px) {
        font-size: 14px;
    }
    @media screen and (min-width: 600px) and (max-width: 767px) {
        font-size: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1040px) {
        font-size: 11px;
    }
    @media screen and (min-width: 1023px) and (max-width: 1300px) {
        font-size: 12px;
    }
    @media screen and (min-width: 1301px) and (max-width: 1400px) {
        font-size: 13px;
    }
    @media screen and (min-width: 1401px) and (max-width: 1600px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1601px) and (max-width: 1921px)  {
        font-size: 17px;
    }
    @media screen and (min-width: 1922px) and (max-width: 2560px) {
        font-size: 21px;
    }
}

body {
    margin: 0px;
    padding: 0px;
    

}


.page {
    font-family: 'Montserrat', sans-serif;
    padding-top: 2.9rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-bottom: 2rem;
    @media (max-width: 1000px) {
        padding-top: 30/$rf*1rem;
        padding-left: 25/$rf*1rem;
        padding-right: 25/$rf*1rem;
        padding-bottom: 30/$rf*1rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
		&__tel {
            font-size: 2.22rem;
            font-weight: 400;
            line-height: 2.76rem;
            color: black;
            margin: 0px;
        }
        &__burger{
            display: none;
        }
}
.logo {
    border: ((3/$rf)* 1rem) solid #6B95FF;
    border-radius: ((20/$rf)*1rem);
    width: ((270/$rf)*1rem);
    height: ((70/$rf)*1rem);
    display: flex;
    justify-content: center;
    align-items: center; 
    &__title{
        padding: 0px;
        margin: 0px;
        font-size: 26/$rf * 1rem;
        font-weight: 500;
        line-height: 31.69/$rf *1rem;
    }

}
.main {
    margin: 0px;
    padding: 0px;
    margin-top: (46.8/$rf) * 1rem;
    display: grid;
    grid-template-columns: 19rem 1fr;
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
    grid-template-rows: 1fr;
    grid-gap: 46/$rf *1rem;
    
}
.sidebar {
    
    height: 860/$rf *1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		&__copyrights {
            margin: 0px;
            font-size: 12/$rf*1rem;
            font-weight: 500;
		}
}
.navbar {
    display: flex;
    flex-direction: column;
		&__link {
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-weight: 800;
            padding-bottom: (40/$rf)*1rem;
            outline: none;
            position: relative;
		}
        &__link:hover:before {
            content: '';
            position: absolute;
            left: -35%;
            top: 15%;
            width: 5.5rem;
            height: 3px;
            background-color: #6B95FF;
		}
        
        
        &__link-clicked {
            color: #6B95FF;
        }
}
.content {
    display: flex;
    flex-direction: column;
}


.article-nav {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60/$rf *1rem;
}

.nav-btn {
    transition: all 0.2s ease;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-right: 25/$rf *1rem;
    @media (max-width: 1200px) {
        margin-bottom: 15/$rf*1rem;
    }
    width: auto;
    height: auto;
    padding-left: 33/$rf *1rem;
    padding-right: 33/$rf *1rem;
    padding-top: 19/$rf *1rem;
    padding-bottom: 19/$rf *1rem;
    border: 3/$rf *1rem solid #6B95FF;
    border-radius: 40/$rf *1rem;
    color: #6B95FF;
    background-color: transparent;
    &__text{
        font-family: Montserrat;
        font-size: 18/$rf * 1rem;
        line-height: 22/$rf *1rem;
        font-weight: 700;
        margin: 0rem;
    }
}
.nav-btn:hover{
    color: white;
    background-color: #6B95FF;
    cursor: pointer;
}
.nav-btn:focus{
        outline: none;
}
.nav-btn_clicked{
    color: white;
    background-color: #6B95FF;
    &:hover{
        cursor: auto;
    }
}

.traveling-schools {
    padding: 0rem;
    margin: 0rem;
		&__title {
            padding: 0rem;
            margin: 0rem;
            font-family: Montserrat;
            font-size: 40/$rf*1rem;
            font-style: normal;
            font-weight: 900;
            line-height: 49/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            margin-bottom: 39/$rf *1rem;
		}

		&__img {
            height: 347/$rf*1rem;
            border-color: transparent;
            border-width: 0px;
            border-radius: (20/$rf)*1rem;
	        position: relative;
            margin-bottom: 60/$rf*1rem;
		}
        &__img::after {
	        content: "";
	        width: 100%;
            height: 100%;    
	        position: absolute;
	        top: 0;    
	        left: 0;   
            background: linear-gradient(90deg, #99B6FF 0%, #DF8EFF 95.5%);
            mix-blend-mode: multiply;
            border-radius: (20/$rf)*1rem;
            z-index: -1;    
        }
        &__img:before {
            content: "";       
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("../../img/traveling__schools/deti-hor.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: (20/$rf)*1rem;
            z-index: -2;
        }
        

		&__paragraph {
            font-family: Montserrat;
            font-size: 30/$rf*1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 37/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
		}
}

.winter-school {
    display: flex;
    flex-direction: column;
		&__title {
            padding: 0rem;
            margin: 0rem;
            font-family: Montserrat;
            font-size: 40/$rf*1rem;
            font-style: normal;
            font-weight: 900;
            line-height: 49/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            margin-bottom: 44/$rf*1rem;
        }
}
.article-nav-wsh {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70/$rf*1rem;
}
.article-nav-btn {
    margin: 0rem;
    padding: 0rem;
    background-color: transparent;
    border-color: transparent;
    outline: none;
		&__clicked {
            color: #6B95FF;

        }

		&__text {
            margin: 0rem;
            font-family: Montserrat;
            font-size: 18/$rf*1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 22/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            text-decoration: underline;
		}

}
.etnomir {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 65/$rf*1rem;
		&__text {
            font-family: Montserrat;
            font-size: 18/$rf*1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 23/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            margin: 0rem;
        }
}
.form-btn {
    transition: all 0.2s ease;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: auto;
    padding-left: 33/$rf *1rem;
    padding-right: 33/$rf *1rem;
    padding-top: 19/$rf *1rem;
    padding-bottom: 19/$rf *1rem;
    border: 3/$rf *1rem solid #6B95FF;
    border-radius: 40/$rf *1rem;
    background-color: #6B95FF;
    color: #fff;
    
	&__text{
        font-family: Montserrat;
        font-size: 18/$rf * 1rem;
        line-height: 22/$rf *1rem;
        font-weight: 700;
        margin: 0rem;
    }
}

.form-btn:hover{
    color: #6B95FF;
    background-color: transparent;
    cursor: pointer;
}
.form-btn:focus{
        outline: none;
}
.form-btn_clicked{
    color: white;
    background-color: #6B95FF;
    &:hover{
        cursor: auto;
    }
}
.etnomir-light-text{
    margin-bottom: 40/$rf*1rem;
}
.warning {
    margin-top: 40/$rf*1rem;
    border-color: transparent;
    border-width: 3/$rf*1rem;
    border-style: solid;
    border-top-color: #FF5656;
		&__text {
            font-family: Montserrat;
            font-size: 20/$rf*1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 24/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            color: #FF5656;
            border-radius: 20/$rf*1rem;
		}
}
.etnomir-lists {
    display: flex;
    flex-direction: column;
}
.etnomir-list {
        
        background-color: #D7E2FF;
        border-radius: 20/$rf*1rem;
        padding: 33/$rf*1rem 26/$rf*1rem;
		&__title {
            margin: 0rem;
            font-family: Montserrat;
            font-size: 18/$rf*1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 22/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            color: black;
            margin-bottom: 25/$rf*1rem;
		}

		&__text {
            margin: 0rem;
            font-family: Montserrat;
            font-size: 18/$rf*1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 23/$rf*1rem;
            letter-spacing: 0em;
            text-align: left;   
		}
        margin-bottom: 20/$rf*1rem;
}
@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .page {
        padding: 30/$rf*1rem 25/$rf*1rem;
    }   

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 101;
		&__tel {
            position: absolute;
            top: -700%;
            left: 0;
            z-index: -1;
            font-size: 25/$rf*1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 31/$rf*1rem;
            letter-spacing: 0rem;
            text-align: left;
            transition: all 0.3s ease 0s;

		}
        &__tel.active {
            top: 200%;
            z-index: 10;
        }

        &__burger {
            display: block;
            position: relative;
            width: 34px;;
            height: 26.5px;
            z-index: 20;
        }
		&__burger span{

            position: absolute;
            left: 0;
            top: 11.34px;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
		}
        &__burger::before{

            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
        }
        &__burger::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 34px;
            height: 4px;
            background-color: #6B95FF;
            transition: all 0.2s ease 0s;
        }
        &__burger.active span{
            transform: scale(0);
            
        }
        &__burger.active::before{
            transform: rotate(45deg);
            top: 11px;
           
        }
        &__burger.active::after{
            transform: rotate(-45deg);
            bottom: 11px;
            
        }
}
    .logo {
        z-index: 101;
        width: ((103/$rf)*1rem);
        height: ((37/$rf)*1rem);
        border-radius: ((20/$rf)*1rem);
            &__title {
                font-size: 14/$rf*1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 17/$rf*1rem;
                letter-spacing: 0rem;
                text-align: left;
            }
    }
    .sidebar {
        z-index: -1;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #99B6FF 100%);
        
		&__copyrights {
            margin: 0rem 25/$rf*1rem 30/$rf*1rem 25/$rf*1rem;
        }
        transition: all 0.3s ease 0s;
    }
    .sidebar.active {
        z-index: 10;
        top: 0%;
        transition: all 0.3s ease 0s;
    }
    .navbar {
        margin: 183/$rf*1rem 25/$rf*1rem 0rem 25/$rf*1rem;
            &__link {
                font-size: 18/$rf*1rem;
                font-style: normal;
                font-weight: 700;
                line-height: 22/$rf*1rem;
                letter-spacing: 0rem;
                text-align: left;
            }
    }

    .main {
        margin: 0px;
        padding: 0px;
        margin-top: (46.8/$rf) * 1rem;
        display: flex;
        flex-direction: column;

    }
    .etnomir {
        display: flex;
        flex-direction: column;
    }
    .article-nav-btn {   
		&__text {
           margin-bottom: 7/$rf*1rem;
		}

    }
}