.header {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  background-color: white;
  border-width: 2px;
  border-style: none;
  border-color: rgba(216, 216, 216, 0.4);
  border-bottom-style: solid;
}

.logo__img {
  width: 11.55556rem;
  height: auto;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__link {
  outline: none;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 0.88889rem;
  line-height: 1.55556rem;
  /* identical to box height, or 175% */
  text-align: center;
  /* second text */
  color: #737373;
  margin-left: 2.83333rem;
}

.header-icons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1.11111rem;
}

.icon-box__title {
  margin: 0px;
  margin-left: 0.66667rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 0.88889rem;
  color: #737373;
}

.icon-circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.11111rem;
  height: 3.11111rem;
  background: rgba(151, 151, 151, 0.4);
  border: 0.05556rem solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.icon-circle__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.33333rem;
}

.icon-circle_transparent {
  background-color: transparent;
}

.mobile-only {
  display: none;
}

.mobile-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lock {
  overflow: hidden;
}

@media (max-width: 770px) {
  .mobile-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-none {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav {
    position: absolute;
    top: 1.11111rem;
    left: 0rem;
  }
}
