@import url("./../css/normalize.css");
@import url("./../css/relative-fonts.css");

$rf: 18;
.header {
    padding-top: 20/$rf*1rem;
    padding-bottom: 20/$rf*1rem;
    display: grid;
    grid-template-columns: 1fr 20% 1fr;

    align-items: center;
    &__logo{
        max-height: 150/$rf*1rem;
    }
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: transparent;
    border-bottom: #000;
    border-style: solid;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
		&__label {
            font-size: 30/$rf*1rem;
            font-weight:  400;
            text-transform: uppercase;
           
             
		}
    margin-left: 50/$rf*1rem;
    
            margin-right: 50/$rf*1rem;
    min-width: 350/$rf*1rem;
}
.label-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
		&__img {
            height: 0.7*40/$rf*1rem;
            margin-right: 1.2*5/$rf*1rem;
		}
    
}
